page-upload-deals {
  .swiper-container-horizontal > .swiper-pagination-bullets {
    display: none;
  }

  .camera-btn {
    background: #07a5ff;
    border-radius: 50%;
    width: 70%;
    padding: 40px;
  }

  .img {
    padding: 0;

    img {
      border-radius: 0;
      width: 100%;
      padding: 30px;
    }
  }

  .button-outline-md {
    margin-top: 5px;
    border-color: #fff;
    color: #fff;
  }

  .button-outline-ios {
    margin-top: 5px;
    border-color: #fff;
    color: #fff;
  }

  .form-container {
    .ctn {
      width: 85%;
    }
  }

  .list-md .item-input:last-child {
    border: 1px solid #07a5ff;
    border-radius: 50px;
  }

  .list-ios .item-input:last-child {
    border: 1px solid #07a5ff;
  }

  .item-md {
    padding-left: 10px;
  }

  .item-ios {
    padding-left: 10px;
  }

  .item-md.item-block .item-inner {
    padding-right: 10px;
  }

  .item-ios.item-block .item-inner {
    padding-right: 10px;
  }

  .textarea {
    .text-input-md {
      margin: 18px 8px;
      padding: 0;
      width: calc(100% - 8px - 8px);
      height: 180px;
      background: transparent url(../assets/imgs/underline.png) repeat !important;
      line-height: 2.0;
    }
  }

  .grid {
    padding: 0;
  }

  .col {
    padding: 0;
  }

  .datetime-md {
    padding: 14px 0 13px 5px;
    border: 1px solid #e0e0e0;
    width: 100%;
  }

  .datetime-ios {
    padding: 14px 0 13px 5px;
    border: 1px solid #e0e0e0;
    width: 100%;
  }

  // .slide-zoom {
  //     position: absolute;
  // }

  .scroll-content{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }

  .toolbar-title-md {
    color: #fff;
    position: absolute;
    top: -33px;
    left: 45px;
  }

  .toolbar-title-ios {
    color: #fff;
    position: absolute;
    top: -33px;
    left: 45px;
  }

  .menu-btn {
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);

    ion-icon {
      font-size: 1.8em;
    }
  }

  .points {
    position: absolute;
    right: 5px;
    top: 0;
    text-align: center;
    color: #fff;

    p {
      font-size: 1.6rem;
      line-height: 0.4;
    }
  }
}
