<ion-header>
  <ion-navbar>
    <button ion-button class="menu-btn" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>New Deal</ion-title>
    <div class="points">
      <small>
        <p>
          Credit Points:
        </p>
        <p>
          {{userProvider.getUser().credits}}
        </p>
      </small>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <div align=center *ngIf="data.image != '' && !is_edit">
        <div class="img" (click)="getPicture()">
          <img [src]="data.image">
        </div>
      </div>

      <div align=center *ngIf="data.image == '' && !is_edit">
        <div class="camera-btn">
            <div (click)="getPicture()">
              <img src="assets/icon/camera.png">
            </div>
        </div>
      </div>

      <div align=center *ngIf="data.image != '' && is_edit">
        <div class="img">
            <div>
              <img [src]="data.image">
            </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div align=center class="form-container">
        <div class="ctn">
          <ion-list>
            <ion-item>
              <ion-input [(ngModel)]="data.name" type="text" placeholder="Deal Name"></ion-input>
            </ion-item>
          </ion-list>

          <ion-list class="textarea">
            <ion-item style="border-radius: 10px;">
              <ion-textarea [(ngModel)]="data.description" rows="6" placeholder="Description..."></ion-textarea>
            </ion-item>
          </ion-list>
          <!-- <div align=left class="error" *ngIf="error.p_empty">**Password required.</div> -->
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div align=center class="form-container">
        <div class="ctn">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div align=left>
                    <ion-label>Start Date & Time</ion-label>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-7>
                <ion-list>
                  <ion-item>
                    <ion-datetime [(ngModel)]="start.date" displayFormat="DD-MMM-YY" pickerFormat="DD MM YYYY" [min]="minStartDate"></ion-datetime>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col col-5>
                <ion-list>
                  <ion-item>
                    <ion-datetime [(ngModel)]="start.time" displayFormat="h:mm A" pickerFormat="h:mm A"></ion-datetime>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div align=left>
                  <ion-label>End Date & Time</ion-label>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-7>
                <ion-list>
                  <ion-item>
                    <ion-datetime [(ngModel)]="end.date" displayFormat="DD-MMM-YY" pickerFormat="DD MM YYYY"></ion-datetime>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col col-5>
                <ion-list>
                  <ion-item>
                    <ion-datetime [(ngModel)]="end.time" displayFormat="h:mm A" pickerFormat="h:mm A"></ion-datetime>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <div align=left class="error" *ngIf="error.p_empty">**Password required.</div> -->
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button [disabled]="is_hide" *ngIf="currentIndex != 0" ion-button outline style="float:left;" (click)="moveSlide('previous')">Back</button>
    <button [disabled]="is_hide" *ngIf="currentIndex >= 0 && currentIndex < 2" ion-button outline style="float:right;" (click)="moveSlide('next')">Next</button>
    <button [disabled]="is_hide" *ngIf="currentIndex > 1 && !is_edit" ion-button outline style="float:right;" (click)="post('new')">Post</button>
    <button [disabled]="is_hide" *ngIf="currentIndex > 1 && is_edit" ion-button outline style="float:right;" (click)="post('edit')">Edit</button>
  </ion-toolbar>
</ion-footer>
