page-login {
    .main-container {
      min-height: 30%;
      max-height: 500px;
      background-image: url('../assets/imgs/bg.jpg');
      background-size: contain;
      padding: 40px 30px 40px 30px;

      h3 {
          font-size: 1.6rem;
      }
    }

    .view-password {
      position: absolute;
      right: 35px;
      margin-top: -35px;
      z-index: 99;
    }

    .remember {

      input[type="checkbox"] {
        padding: 0;
        margin: 0 5px 0 0;
      }
    }

    .terms {
      color: lightgray;
      margin: 15px 0 0 0;
    }

    .heading {
      color: #07a5ff;
      margin-top: 20px;
      line-height: 0.1;

      img {
          width: 30px;
      }

      h4 {
          margin-top: 0.2rem;
      }
    }

    .form-container {
      margin-top: 30px;
      .ctn {
          width: 85%;
      }
    }

    .list-md .item-input {
      border: 1px solid #07a5ff;
      border-radius: 50px;
    }

    .list-ios .item-input {
      border: 1px solid #07a5ff;
    }

    .list-md .item-input:last-child {
      border-bottom: 1px solid #07a5ff;
    }

    .list-ios .item-input:last-child {
      border-bottom: 1px solid #07a5ff;
    }

    .item-md {
      padding-left: 10px;
    }

    .item-ios {
      padding-left: 10px;
    }

    .item-md.item-block .item-inner {
      padding-right: 10px;
    }

    .item-ios.item-block .item-inner {
      padding-right: 10px;
    }

    .button-md {
      border-radius: 50px;
      margin-top: 30px;
      font-size: 1.6rem;
      text-transform: capitalize;
    }

    .button-ios {
      border-radius: 50px;
      margin-top: 30px;
      font-size: 1.6rem;
      text-transform: capitalize;
    }

    .or {
      p {
          position: absolute;
          background: #fff;
          width: 35px;
          z-index: 9;
          margin-left: 38%;
          margin-top: -12px;
          font-size: 1.8rem;
          color: #07a5ff;
      }

      hr {
          border: 0;
          height: 1px;
          margin-top: 30px;
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #07a5ff, rgba(0, 0, 0, 0));
      }
    }
}
