<ion-content>
  <div class="main-container" align=center>
    <div align=center>
      <img src="assets/imgs/logo.png" />
    </div>
    <h3>Shopkeeper / Store Owner</h3>
  </div>

  <div align=center class="heading">
    <img src="assets/imgs/login.png">
    <h4>Login</h4>
  </div>

  <div align=center class="form-container">
    <div class="ctn">
      <ion-list>
        <ion-item>
          <ion-input type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
        </ion-item>
      </ion-list>
      <div align=left class="error" *ngIf="error.e_empty">**Email required.</div>
      <div align=left class="error" *ngIf="error.e_valid">**Not a valid Email.</div>

      <ion-list>
        <ion-item>
          <ion-input type="{{isPassword}}" placeholder="Password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
        <div class="view-password" (click)="showPassword()">
          <img *ngIf="isShow"  src="assets/icon/view.png">
          <img *ngIf="!isShow" src="assets/icon/hide.png">
        </div>
      </ion-list>
      <div align=left class="error" *ngIf="error.p_empty">**Password required.</div>
      <div align=left class="error" *ngIf="error.p_regex">**Special characters are not allowed.</div>
      <div align=left class="error" *ngIf="error.p_length">**Password must be 5 characters long.</div>
      <div class="remember" align=right>
        <input type="checkbox" [(ngModel)]="isRemember">Remeber Me
      </div>
      <button ion-button block color=dark (click)="signin()">Sign In</button>
      <div class="or" align=center>
          <p>or</p>
          <hr>
      </div>
      <button ion-button block color=dark (click)="register()">Register</button>
    </div>
  </div>
  <div class="terms" align=center>
    Read Our Terms & Conditions
  </div>
</ion-content>
