page-register {
    .main-container {
        min-height: 30%;
        max-height: 500px;
        background-image: url('../assets/imgs/bg.jpg');
        background-size: contain;
        padding: 50px 30px 50px 30px;

        ion-icon {
            font-size: 2.2em;
            position: absolute;
            top: 5px;
            left: 10px;
            color: #fff;
            height: 35px;
            width: 35px;
        }
    }

    .heading {
        color: #07a5ff;
        margin-top: 20px;
        line-height: 0.1;

        img {
            width: 30px;
        }

        h4 {
            margin-top: 0.2rem;
        }
    }

    .form-container {
        margin-top: 40px;
        .ctn {
            width: 85%;
        }
        
    }

    .list-md .item-input:last-child {
        border: 1px solid #07a5ff;
        border-radius: 50px;
    }

    .list-ios .item-input:last-child {
        border: 1px solid #07a5ff;
    }

    .item-md {
        padding-left: 10px;
    }

    .item-ios {
        padding-left: 10px;
    }

    .item-md.item-block .item-inner {
        padding-right: 10px;
    }

    .item-ios.item-block .item-inner {
        padding-right: 10px;
    }

    .button-md {
        margin-bottom: 30px;
    }
}
