<ion-content>
    <div class="main-container">
      <ion-icon name="ios-arrow-back" (click)="goBack()"></ion-icon>
      <div align=center>
        <img src="assets/imgs/logo.png" />
      </div>
    </div>
    
    <div align=center class="heading">
      <img src="assets/imgs/register_icon.png">
      <h4>Register</h4>
    </div>
    
    <div align=center class="form-container">
      <div class="ctn">
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="user.fullName" type="text" placeholder="Full Name"></ion-input>
          </ion-item>
        </ion-list>
        <div align=left class="error" *ngIf="error.f_empty">**Full Name required.</div>
        <div align=left class="error" *ngIf="error.f_valid">**Special characters are not allowed.</div>

        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="user.userName" type="text" placeholder="Username"></ion-input>
          </ion-item>
        </ion-list>
        <div align=left class="error" *ngIf="error.u_empty">**User Name required.</div>

        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="user.email" type="email" placeholder="Email"></ion-input>
          </ion-item>
        </ion-list>
        <div align=left class="error" *ngIf="error.e_empty">**Email required.</div>
        <div align=left class="error" *ngIf="error.e_valid">**Not a valid Email.</div>

        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="user.password" type="password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-list>
        <div align=left class="error" *ngIf="error.p_empty">**Password required.</div>
        <div align=left class="error" *ngIf="error.p_regex">**Special characters are not allowed.</div>
        <div align=left class="error" *ngIf="error.p_length">**Password must be 5 characters long.</div>

        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="user.mobile" type="tel" placeholder="Phone"></ion-input>
          </ion-item>
        </ion-list>
        <div align=left class="error" *ngIf="error.m_empty">**Mobile number required.</div>
        <div align=left class="error" *ngIf="error.m_length">**Mobile number must be 11 characters long.</div>

        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="user.companyName" type="text" placeholder="Company name"></ion-input>
          </ion-item>
        </ion-list>
        <div align=left class="error" *ngIf="error.c_empty">**Company name required.</div>

        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="user.websiteUrl" type="text" placeholder="Website Url"></ion-input>
          </ion-item>
        </ion-list>
        <div align=left class="error" *ngIf="error.w_regex">**Bad URL.</div>

        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="user.facebookUrl" type="text" placeholder="Facebook Url"></ion-input>
          </ion-item>
        </ion-list>
        <div align=left class="error" *ngIf="error.f_regex">**Bad URL.</div>
        
        <button ion-button block color=dark (click)="register()">Register</button>
      </div>
    </div>
  </ion-content>
  