<ion-header>
  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="header-container">
		<div class="image-container">
			<img src="assets/imgs/user.png">
			<div class="icon-container" (click)="getPicture()">
				<ion-icon name="camera"></ion-icon>
			</div>
		</div>
		<div class="name">
      {{data.companyName}}
		</div>
		<br>
		<!-- <div class="number" style="margin-left: 10px">
			{{data.liked_by.length}} Follower(s)
		</div> -->
		<!-- <div  class="info">
			Info
		</div> -->
  </div>

  <ion-list>
    <ion-item>
      <ion-label stacked>Company Name</ion-label>
      <ion-input type="text" [(ngModel)]="data.companyName"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label stacked>Created by</ion-label>
      <ion-input type="text" [(ngModel)]="data.fullName"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label stacked>User Name</ion-label>
      <ion-input type="text" [(ngModel)]="data.userName"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" [(ngModel)]="data.email" disabled></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label stacked>Contact Num</ion-label>
      <ion-input type="text" [(ngModel)]="data.mobile"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="{{isPassword}}" [(ngModel)]="data.password"></ion-input>
    </ion-item>
    <div class="view-password" (click)="showPassword()">
      <img *ngIf="isShow"  src="assets/icon/view.png">
      <img *ngIf="!isShow" src="assets/icon/hide.png">
    </div>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label stacked>Website Url</ion-label>
      <ion-input type="text" [(ngModel)]="data.websiteUrl"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label stacked>Facebook</ion-label>
      <ion-input type="text" [(ngModel)]="data.facebookUrl"></ion-input>
    </ion-item>
  </ion-list>

  <div class="btn">
    <button ion-button block (click)="save(data)">Save</button>
  </div>
</ion-content>
