page-edit-profile {
  .view-password {
    position: absolute;
    right: 10px;
    margin-top: -35px;
    z-index: 99;
  }
  .header-container{
		width: 100%;
		background-color: #ebebeb;
		height: 180px;

		.image-container {
			float: left;
			width: 150px;
      height: 150px;
      padding: 20px;
      img {
        border-radius: 50%;
        border: 0;
      }
      .icon-container{
        margin: -40px 0 0 70px;
        position: relative;
				border-radius: 50%;
        background: #07a5ff;
        width: 50px;
        height: 50px;
        padding: 12px 0 0 14px;

				ion-icon {
          font-size: 1.8em;
          color: white;
				}
      }
		}

		.name {
			float: left;
      font-size: 2.2rem;
      color: #07a5ff;
      font-weight: 500;
      margin-top: 25px;
      width: 50%;
		}

		.number {
			float: left;
      text-align: center;
      margin-top: 10px;
      font-size: 1.4rem;
      color: #5f5f5f;
      font-weight: 500;
		}

		.info {
			float: left;
      top: 150px;
      left: 10px;
      font-size: 2.0rem;
      position: absolute;
      font-weight: 500;
      color: #5f5f5f;
		}
  }

  .btn {
    padding: 2.2rem 15px 10px 15px;
    .button-md {
      background-color: #07a5ff;
      height: 44px;
    }
    .button-ios {
      background-color: #07a5ff;
      height: 44px;
    }
  }
}
