page-send-message {

    .top-container {
        margin: 5px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        position: sticky;

        p {
            font-size: 1.8rem;
            line-height: 0.4;
        }
    }

    .grid {
        padding: 0;
    }

    .col {
        padding: 0;
    }

    .message-container:last-child {
        margin-bottom: 20px;
    }

    .message-container {
        
        .userMessage {
            display: inline-block;
            max-width: 80%;
        
            p {
                line-height: 1.8;
                font-size: 1.6rem;
                padding: 0 10px 0 10px;
                border: solid 1px transparent;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                height: auto;
                margin-left: 10px;
                background: #07a5ff5e;
                color: #666666;
                margin-bottom: 1px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            }
            small {
                margin: 0 0 0 10px;
            }
        }

        .shopkeeperMessage {
            display: inline-block;
            max-width: 80%;
        
            p {
                line-height: 1.8;
                font-size: 1.6rem;
                padding: 0 10px 0 10px;
                border: solid 1px transparent;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                height: auto;
                margin-right: 10px;
                background: #9e9e9e7a;
                color: #666666;
                margin-bottom: 1px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            }
            small {
                margin: 0 10px 0 0;
            }
        }
    }
    
    .footer-container {

        .toolbar-background-md {
            border-color: transparent;
            background: transparent;
        }

        .toolbar-md {
            padding: 0;
            height: 50px;
        }

        .button-outline-md {
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
        }

        .text-input-md {
            margin: 0;
            padding: 0;
            width: calc(100% - 8px - 8px);
        }

        .item-md.item-block .item-inner {
            padding-right: 0;
            border-bottom: 0 solid #dedede;
        }

        [icon-only] ion-icon {
            font-size: 2.8em;
            color: #07a5ff;
        }

        .item-md.item-input-has-focus .item-inner, .item-md.item-input.item-has-focus .item-inner {
            box-shadow: inset 0 -1px 0 0 transparent;
        }
    }

    .shaky {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
      
    @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }
    
        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }
    
        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }
    
        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }

    ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: #07a5ff;
        fill: #07a5ff;
    }

    ion-spinner {
        position: absolute;
        display: inline-block;
        bottom: 10px;
        left: 20px;
    }
}
