<ion-header>
  <ion-navbar>
    <ion-title>Send Message</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="top-container">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <img [src]="convertImage(image)"/>
        </ion-col>

        <ion-col col-8>
          <p><b>{{data?.storeName}}</b></p>
          <p>{{data?.dealName}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div align=center class="empty-container" *ngIf="data?.message.length == 0">
    <h2>This is the very beggining ofthis chat.</h2>
  </div>
  
  <div class="message-container" *ngFor="let m of data?.message">
    
    <div *ngIf="m.type == 'user'" align=left>
      <div [ngClass]="{userMessage: m.type == 'user'}">
        <p>{{m.text}}</p>
        <small>{{m.time | timeAgo}}</small>
      </div>
    </div>

    <div *ngIf="m.type == 'shopkeeper'" align=right>
      <div [ngClass]="{shopkeeperMessage: m.type == 'shopkeeper'}">
        <p>{{m.text}}</p>
        <small>{{m.time | timeAgo}}</small>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="footer-container">
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-item [ngClass]="{shaky:is_empty}">
            <ion-input [(ngModel)]="messageText" type="text" placeholder="Type message here..."></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-spinner *ngIf="show_spinner" name="bubbles"></ion-spinner>
          <button ion-button icon-only outline (click)="postMessage()" [disabled]="show_spinner">
            <ion-icon name="ios-send-outline" color=danger></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-footer>
