page-profile {
    .header-container{
		width: 100%;
		background-color: #ebebeb;
		height: 180px;

		.image-container {
			float: left;
			width: 150px;
		    height: 150px;
		    padding: 20px;
		    img {
		    	border-radius: 50%;
				border: 0;
		    }
		    .icon-container{
		    	margin: -40px 0 0 70px;
	    		position: relative;
				border-radius: 50%;
			    background: #07a5ff;
			    width: 50px;
			    height: 50px;
			    padding: 12px 0 0 14px;
				
				ion-icon {
				    font-size: 1.8em;
    				color: white;
				}
		    }
		}

		.name {
			float: left;
		    font-size: 2.2rem;
		    color: #07a5ff;
		    font-weight: 500;
		    margin-top: 25px;
		    width: 50%;
		}

		.number {
			float: left;
		    text-align: center;
		    margin-top: 10px;
		    font-size: 1.4rem;
		    color: #5f5f5f;
		    font-weight: 500;
		 //    ion-icon {
			//     display: inline-block;
			//     font-size: 1.8em;
			//     margin-top: 5px;
			// }
		}

		.info {
			float: left;
		    top: 150px;
		    left: 10px;
		    font-size: 2.0rem;
		    position: absolute;
		    font-weight: 500;
		    color: #5f5f5f;
		}
    }
    
    .left {
		text-align:left;
		font-size: 1.4rem;
    	color: #07a5ff;
	    font-weight: 500;
	}

	.right {
		text-align: right;
		font-size: 1.4rem;
    	color: #8c8c8c;
    }
    
    .btn {
        padding: 2.2rem 15px 10px 15px;
        .button-md {
            background-color: #07a5ff;
            height: 44px;
        }
        .button-ios {
            background-color: #07a5ff;
            height: 44px;
        }
    }
}
