<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  	<div class="header-container">
		<div class="image-container">
			<img src="assets/imgs/user.png">
			<!-- <img src="{{userProvider?.getUser().ImageURL}}"> -->
			<!-- <div class="icon-container" (click)="getPicture()">
				<ion-icon name="camera"></ion-icon>
			</div> -->
		</div>
		<div class="name">
      {{userProvider?.getUser().companyName}}
		</div>
		<br>
		<div class="number" style="margin-left: 10px">
			{{userProvider?.getUser().liked_by.length}} Follower(s)
		</div>
		<div  class="info">
			Info
		</div>
	</div>
	<ion-list>
		<ion-grid>
			<ion-row center>
				<ion-col col-4 class="left">
					Created by:
				</ion-col>
				<ion-col col-8 class="right">
					{{userProvider?.getUser().fullName}}
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
	<ion-list>
		<ion-grid style="margin-top: -15px;">
			<ion-row center>
				<ion-col col-5 class="left">
					User Name
				</ion-col>
				<ion-col col-7 class="right">
					{{userProvider?.getUser().userName}}
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
	<ion-list>
		<ion-grid style="margin-top: -15px;">
			<ion-row center>
				<ion-col col-4 class="left">
					Email
				</ion-col>
				<ion-col col-8 class="right">
					{{userProvider?.getUser().email}}
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
	<ion-list>
		<ion-grid style="margin-top: -15px;">
			<ion-row center>
				<ion-col col-4 class="left">
					Contact Num
				</ion-col>
				<ion-col col-8 class="right">
					{{userProvider?.getUser().mobile}}
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
	<ion-list>
		<ion-grid style="margin-top: -15px;">
			<ion-row center>
				<ion-col col-3 class="left">
					Website Url
				</ion-col>
				<ion-col col-9 class="right">
					{{userProvider?.getUser().websiteUrl}}
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
	<ion-list>
		<ion-grid style="margin-top: -15px;">
			<ion-row center>
				<ion-col col-4 class="left">
					Facebook
				</ion-col>
				<ion-col col-8 class="right">
					{{userProvider?.getUser().facebookUrl}}
				</ion-col>
			</ion-row>
		</ion-grid>
  </ion-list>

  <div class="btn">
    <button ion-button block (click)="edit()">Edit</button>
  </div>
</ion-content>
