page-home {
    .grid {
        padding: 0;
    }

    .col {
        padding: 0;
    }

    .sm-icon {
        border-radius: 75%;
        background: white;
        padding: 8px 6px 5px 8px;
        height: 43px;
        width: 43px;
    }

    .xl-icon {
        border-radius: 75%;
        background: white;
        padding: 8px 6px 5px 8px;
        height: 70px;
        width: 70px;
        position: absolute;
        left: 37%;
        bottom: 20px;
        z-index: 11;
    }

    ion-fab {
        button {
            box-shadow: 0 4px 10px #6b6b6b;
        }

        ion-fab-list button[ion-fab] {
            text-align: center;
            overflow: visible;

            div.label {
              position: absolute;
              right: 48px;
              background: rgba(248, 248, 248, 1);
              height: 24px;
              line-height: 16px;
              padding-left: 8px;
              padding-right: 8px;
              padding-top: 5px;
              padding-bottom: 5px;
              margin-top: 0;
              border-radius: 5px;
              box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
            }
        }

        .button-inner {
            overflow: visible;
        }

        .fab {
            contain: initial;
        }

        .fab-md-light {
            color: #fff;
            background-color: #07a5ff;
        }
    }

    .header-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 12px;
        right: 10px;
    }

    .noData{
        color: #07a5ff;
        margin-top: 30px;
        font-size: 3.2rem;
        font-weight: 900;

        .heading {
            width: 90%;
        }

        ion-icon {
            font-size: 2.2em;
        }

        p {
            font-size: 1.8rem;
        }

        small {
            font-size: 40%;
        }
    }

    .spinner-md-crescent circle {
        stroke: #fff;
    }

    .dealImg {
        height: 100%;
    }

    .card-content-container {
        background-color: #fff;
        position: relative;
        height: 130px;
        padding: 10px;
    }

    .card-content-md {
        padding: 0;
    }

    .timeago {
        font-size: 1.4rem;
        font-family: sans-serif;
        float: left;
        color: darkgrey;
        margin-top: 5px;
    }

    .button-outline-md {
      float: right;
      margin: 10px 10px 10px 0;
    }

    .card-md + ion-card:last-child {
        margin-bottom: 60px;
    }
}
