<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
    <div class="header-icon" align=center>
      <ion-spinner *ngIf="data.length == 0"></ion-spinner>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div align=center class="noData" *ngIf="data.length == 0">
    <div class="heading">
      <ion-icon name="md-sad"></ion-icon><br>
      No Data!!
      <p>This screen will start generating data once you start uploading deals.</p>
      <small tapable (click)="uplaodDeal(fab)">Click here, To upload deal.</small>
    </div>
  </div>

  <div *ngIf="data.length != 0">
    <ion-card *ngFor="let d of data">
      <!-- <img class="dealImg" [src]="changeURL(d.image)"/> -->
      <img-loader class="dealImg" [src]="d?.image" useImg (load)="onImageLoad($event)"></img-loader>
      <ion-card-content>
        <div class="card-content-container">
          <ion-card-title>
            {{d.name}}
          </ion-card-title>
          <p>
            {{trimDescriptionText(d.description)}}
          </p>
          <button ion-button outline small (click)="details(d)">Read More...</button>
          <button ion-button outline small color='danger' (click)="delete(d._id)">Delete</button>
          <button ion-button outline small color='dark' (click)="edit(d)">Edit</button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- ///// FAB LIST ///// -->
  <ion-fab right bottom #fab>
    <button ion-fab color="light">
      <ion-icon name="md-add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="uplaodDeal(fab)">
        <img src="assets/icon/upload_photo.png">
        <div class="label">Upload Deal</div>
      </button>
      <!-- <button ion-fab (click)="profile(fab)">
        <img src="assets/icon/multiple-users-silhouette.png">
        <div class="label">My Profile</div>
      </button> -->
      <button ion-fab (click)="message(fab)">
        <img src="assets/icon/speech-bubble.png">
        <div class="label">Messages</div>
      </button>
      <button ion-fab (click)="share(fab)">
        <img src="assets/icon/share.png">
        <div class="label">Share Store</div>
      </button>
    </ion-fab-list>
  </ion-fab>
  <!-- ///// ///// ///// -->
</ion-content>
