<ion-header>
  <ion-navbar>
    <ion-title>Deal Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="image-container" align=center>
    <!-- <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(globalVariables.getEndpoint()+data.image)"/> -->
    <img-loader [src]="data.image" useImg></img-loader>
  </div>
  <div class="main-container">
    <small>Published On: {{convertDate(data.createdDate)}}</small>
    <h2>{{data.name}}</h2>
    <p>{{data.description}}</p>

    <ion-grid>
      <ion-row>
        <ion-col style="background:#4ca64c">
          <p>Start Date</p>
          <p>{{convertDate(data.startDate)}}</p>
        </ion-col>
        <ion-col style="background:#ff4c4c">
          <p>End Date</p>
          <p>{{convertDate(data.endDate)}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
