page-deal-details {
    
    .image-container {
        width: 100%;
        img {
            width: 100%;
        }
    }

    .main-container {
        margin: 0 10px 0 10px;
    }

    .grid {
        padding: 0;
        margin-bottom: 30px;
    }

    .col {
        padding: 0;
        color: #fff;
        text-align: center;
        margin: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

        p {
            line-height: 0.6;
            font-size: 1.2rem;
        }
    }

    small {
        font-size: 90%;
        color: grey;
    }

    h2 {
        color: #07a5ff;
    }
}
