<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Messages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let d of data" class="slide">
    <ion-item tapable (click)="sendMessage(d.dealId, d.storeId, d.image, d.userId)">
      <ion-thumbnail item-start>
        <!-- <img defaultImage="assets/icon/burger.png" [lazyLoad]="d?.image" [offset]="500"> -->
        <img-loader [src]="d?.image" useImg></img-loader>
      </ion-thumbnail>
      <h2>{{d?.userName}}</h2>
      <p>{{d?.name}}</p>
      <!-- <p>Hayao Miyazaki • 1988</p> -->
      <!-- <button ion-button clear item-end>View</button> -->
      <ion-badge color="warning" *ngIf="!d?.count == 0">{{d?.count}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
