<ion-menu id="myMenu" [content]="content" side="left">
    <!-- <ion-header>
      <ion-toolbar>
        <ion-title>SmartlyBiz User</ion-title>
      </ion-toolbar>
    </ion-header> -->
    <ion-content id="menu-page">
        <img src="assets/icon/cancel.png" class="menu-icon" menuClose>
        <div align=center *ngIf="userProvider?.getUser() != null">
            <img src="assets/imgs/user.png" class="userImg">
            <h2>{{userProvider?.getUser().companyName}}</h2>
            <p>{{userProvider?.getUser().fullName}}</p>
        </div>
        <hr>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" icon-end>
                {{p.title}}
                <img [src]='p.icon' class="img-btn">
            </button>
            <!-- <button menuClose ion-item>
                Home
            </button>
            <button menuClose ion-item (click)="goto('page')">
                Category
            </button>
            <button menuClose ion-item (click)="goto('page')">
                Category
            </button>
            <button menuClose ion-item (click)="goto('page')">
                Category
            </button>
            <button menuClose ion-item (click)="goto('page')">
                Category
            </button> -->
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>