// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* ::-webkit-scrollbar {
    display: none;
}

body {
    -webkit-user-select: text;
    user-select: text;
}

.scroll-content {
    padding-bottom: 0 !important;
}

.md ion-footer .toolbar:last-child {
    // padding-bottom: calc(constant(safe-area-inset-bottom) + 1px);
    // padding-bottom: calc(env(safe-area-inset-bottom) + 1px);
    padding-bottom: 0;
    min-height: 56px;
    height: 56px;
    // min-height: calc(56px + constant(safe-area-inset-bottom));
    // min-height: calc(56px + env(safe-area-inset-bottom));
}

.toolbar-background-md {
    border-color: #07a5ff;
    background: #07a5ff;
}

.toolbar-title-md {
    color: #fff;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
}

.error {
    font-family: monospace;
    margin: -10px 0 10px 10px;
    color: red;
}

// .button-md {
//     border-radius: 50px;
//     margin-top: 30px;
//     font-size: 1.6rem;
//     text-transform: capitalize;
// }

// .button-ios {
//     border-radius: 50px;
//     margin-top: 30px;
//     font-size: 1.6rem;
//     text-transform: capitalize;
// }

.md .menu-inner {
    background-image: linear-gradient(to bottom, #07a5ff, #07a5ff, #07a5ff, #6bc7ff, #83d2ff);
}

.ios .menu-inner {
    background-image: linear-gradient(to bottom, #07a5ff, #07a5ff, #07a5ff, #6bc7ff, #83d2ff);
}


#menu-page {
    color: #fff;
    background: transparent;
    
    p {
        line-height: 0;
        font-size: 1.4rem;
        margin-top: 20px;
    }

    h2 {
        margin-top: 10px;
        border: solid 1px;
        width: fit-content;
        max-width: 90%;
        padding: 5px 10px 0 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
    }

    .userImg {
        width: 110px;
        margin-top: 30px;
        background: #fff;
        border-radius: 50%;
        padding: 5px;
    }
    
    .menu-icon {
        position: absolute;
        width: 30px;
        right: 10px;
        top: 10px;
    }

    .img-btn {
        width: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .item-md {
        background-color: transparent;
        color: #fff;
    }

    .list-md {
        margin: 30px 0 16px 0;

        .item-block .item-inner {
            border-bottom: 0 solid #dedede;
        }
    }

    hr {
        border: 0;
        height: 1px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fffafa, rgba(0, 0, 0, 0));
        margin: 20px 0 -20px 0;
    }
}

.custom-toast {
    .button-md {
        margin-top: 5px;
        font-size: 1.2rem;
        text-transform: capitalize;
    }
}

.md ion-footer .toolbar:last-child {
    padding-bottom: calc(constant(safe-area-inset-bottom) + 0);
    padding-bottom: calc(env(safe-area-inset-bottom) + 0);
    // min-height: calc(50px + constant(safe-area-inset-bottom)) !important;
    min-height: 50px;
}